@page "/default.aspx"
<h1 class="heading1">Home</h1>
<div class="col-md-auto">
    <div class="card-deck">
        <div class="card border-secondary">
            <NavLink href="default.aspx/addlicense">
                <img src="img/form.svg" class="card-img-top" alt="form" height="200" style="background-color:#1e4691;object-fit: contain;padding:50px;max-width: 36rem;">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color:#1e4691;">Add License</h5>
                </div>
            </NavLink>
        </div>
        <div class="card border-secondary">
            <NavLink href="default.aspx/">
                <img src="img/form.svg" class="card-img-top" alt="form" height="200" style="background-color:#1e4691;object-fit: contain;padding:50px;max-width: 36rem;">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color:#1e4691;">Dummy</h5>
                </div>
            </NavLink>
        </div>
        <div class="card border-secondary">
            <NavLink href="default.aspx/">
                <img src="img/form.svg" class="card-img-top" alt="form" height="200" style="background-color:#1e4691;object-fit: contain;padding:50px;max-width: 36rem;">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color:#1e4691;">Dummy</h5>
                </div>
            </NavLink>
        </div>
    </div>
</div>