@page "/default.aspx/smj"
<div class="align-middle text-center">
    <br />
    <br />
    <div class="col-12">
        <img src="img/web.svg" height="96" width="96">
        <br />
        <p class="heading">SEC Datacenter</p>
        <br />
    </div>
    <br />
    <br />
    <h3>
      Developed By
      <small class="text-muted">Mohammed Syed</small>
    </h3>
</div>
@code {

}
