@using Models;
@using Newtonsoft.Json;
@using System.Net.Http;

<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="col text-center">
    <img src="img/logo.png" alt="logo">
</div>
<br />
<br />
<div class="col text-center">
    <p class="h4" style="color:white">Datacenter Visitor Log</p>
</div>
<div class="userInfo">
    <div class="userAvatar">
        <img src="img/user.png">
    </div>
    <div class="username">
        <p class="lead text-light">@username</p>
        @if (groups != null && groups.Count > 0)
        {
            <p class="text-light"><small>@groups[0].Description</small></p>
        }
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="img/sideMenu04.png"> &nbsp; Home
            </NavLink>
        </li>
        @if (groups != null)
        {
            @foreach (var group in groups)
            {
                @if (group.LoginName == Settings.JedOpGroup)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="default.aspx/jed/logs">
                            <img src="img/sideMenu02.png"> &nbsp; Logs
                        </NavLink>
                    </li>
                }
                @if (group.LoginName == Settings.DmmOpGroup)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="default.aspx/dmm/logs">
                            <img src="img/sideMenu02.png"> &nbsp; Logs
                        </NavLink>
                    </li>
                }
                @if (group.LoginName == Settings.RydOpGroup)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="default.aspx/ryd/logs">
                            <img src="img/sideMenu02.png"> &nbsp; Logs
                        </NavLink>
                    </li>
                }

                @if (group.LoginName == Settings.AdminGroup)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="default.aspx/logs">
                            <img src="img/sideMenu02.png"> &nbsp; Logs
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="default.aspx/permissions">
                            <img src="img/sideMenu07.png"> &nbsp; Permissions
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="../SitePages/Home.aspx" target="_blank">
                            <img src="img/sideMenu03.png"> &nbsp; Admin Portal
                        </NavLink>
                    </li>
                }
            }
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="default.aspx/about">
                <img src="img/sideMenu08.png"> &nbsp; About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="../_layouts/closeConnection.aspx?loginasanotheruser=true">
                <img src="img/logout.png"> &nbsp; Logout
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;
    string username = "";
    List<Group> groups = new List<Group>();
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        HttpClient Http = new HttpClient();
        Root root = new Root();

        root.Groups = new List<Group>();
        Http.DefaultRequestHeaders.Add("Accept", "application/json");
        string temp = await Http.GetStringAsync(Navigator.BaseUri + Settings.BaseURL + "_api/web/currentuser?$expand=groups");
        root = JsonConvert.DeserializeObject<Root>(temp);
        //Setting Global Variables
        Settings.Id = root.Id;
        Settings.LoginName = root.LoginName;
        Settings.Title = root.Title;
        Settings.Groups = root.Groups;
        groups = root.Groups;
        username = root.Title;
        StateHasChanged();
    }
}