<div class="align-middle text-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="col-12">
        <img src="img/web.svg" height="96" width="96">
        <br />
        <p class="heading">SEC Datacenter</p>
        <br />
        <p class="lead text-danger">You are not Authorized to access this page</p>
        <p class="text-muted">
            Contact <NavLink class="text-muted" href="default.aspx/about">Administrators</NavLink> for more Information.
        </p>
    </div>
</div>